.footer1-container{
    margin: 0 auto;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 505px;
    display: flex;
    display: block;
    justify-content: center;
    padding-top: 260px;
    .footer-title{
        display: flex;
        justify-content: center;
        h1{
            font-size: 32px;
            font-weight: bold;
            color: #221e1f;
        }
    }
    .footer-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 48px;
        .price-btn{
            min-width: 136px;
            ul{ 
                li{
                    width: 100%;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#56C4C5;
                    border-radius: 27px;
                }
                a{
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    color:#ffffff;
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}