.fourth-container{
    display: flex;
    margin: 0 auto;
    max-width: 1039px;
    height: 588px;
    margin-top: 100px;
    justify-content: space-between;
    .left-part{
        width: 50%;
        height: 100%;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
                min-width: 230px;
                height: 280px;
                border-radius: 15px;
                box-shadow: 0px 2px 3px darkgray;
                background-color: white;
                padding: 32px;
                padding-bottom: 48px;
                text-align-last: left;
                h3{
                    margin-top: 24px;
                    margin-bottom: 16px;
                    font-size: 18px;
                    font-weight: bold;
                    color:#221E1F;
                }
                p{
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
            .fourth-cards1{
                margin-bottom: 28px;
            }
        }
        .img-bg{
            width: 86px;
            height: 86px;
            background-color: white;
            border-radius: 100%;
            box-shadow: 0px 0px 9px lightgray;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 52px;
                height: 52px;
            }
        }
    }
    .right-part{
        display: flex;
        align-items: center;
        justify-content: end;
        .right-part-content{ 
            h1{
                font-size: 32px;
                font-weight: bold;
                color:#221E1F;
                margin-bottom: 16px;
                line-height: 1.5;
                text-align: left;
            }
            p{
                text-align: left;
                font-size: 18px;
                margin-bottom: 24px;
                line-height: 1.5;
            }
            .price-btn{
                max-width: 136px;
                ul{ 
                    li{
                        width: 100%;
                        height: 49px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background:#56C4C5;
                        border-radius: 27px;
                    }
                    a{
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        color:#ffffff;
                        display: block;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}