.third-container{
    margin: 0 auto;
    max-width: 1088px;
    .third-title{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 48px;
        h2{
            height: 46px;
            font-size: 32px;
            font-weight: bold;
            color: #221E1F;
            margin-bottom: 16px;
        }
        p{
            height: 29px;
            font-size: 20px;
            color: #221E1F;
        }
    }
    ul{
        display: flex;
        justify-content: space-between;
        li{
            max-width: 260px;
            height: 388px;
            border-radius: 15px;
            box-shadow: 1px 5px 5px #000000;
            background-color: white;
            img{
                width: 100%;
                height: 260px;
                border-radius: 15px 15px 0 0;
            }
            h3{
                text-align: center;
                font-size: 16px;
                color:#56C4C5;
                margin: 16px 0;
            }
            p{
                text-align: center;
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }
}