.container_top{
    margin: 0 auto;
    max-width: 1085px;
    margin-bottom: 280px;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: 16px;
        .logo{
            img{
                max-width: 218px;
            }
        }
        .btn_project_rate{
            min-width: 128px;
            ul{ 
                li{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#FF5D50;
                    border-radius: 22px;
                }
                a{
                    width: 100%;
                    height: 100%;
                    font-size: 16px;
                    color:#ffffff;
                    display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .part1_banner{
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content_title{
            width: 50%;
            height: 219px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            h3{
                text-align: left;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #56C4C5;
                opacity: 1;
            }
            h1{
                text-align: left;
                font-size: 48px;
                font-weight: bold;
                letter-spacing: 0px;
                color: #221E1F;
                opacity: 1;
                line-height: 1.5;
            }
            p{
                text-align: left;
                font-size: 20px;
                color: #221E1F;
            }
        }
        img{
            min-width: 532px;
            height: 532px;
        }
    }
} 