.top-btn{
    margin-bottom: 124px;
    display: flex;
    justify-content: end;
    cursor: pointer;
    img{
        position:fixed;
        right: 48px;
        width: 71px;
        height: 71px;
    }
}