.wrap{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg"),
    url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg"),
    url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:auto, auto, auto;
    background-position: top right, left -222px top 589px, top 1694px left 1156px;
    max-width: 1440vw;
    margin: 0 auto;
}