@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  outline: auto;
  font-family: "Noto Sans TC";
}

.wrap {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg"), url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: top right, left -222px top 589px;
  max-width: 1440px;
}
.wrap .container_top {
  margin: 0 auto;
  max-width: 1085px;
  margin-bottom: 280px;
}
.wrap .container_top .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 16px;
}
.wrap .container_top .header .logo img {
  max-width: 218px;
}
.wrap .container_top .header .btn_project_rate {
  min-width: 128px;
}
.wrap .container_top .header .btn_project_rate ul li {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF5D50;
  border-radius: 22px;
}
.wrap .container_top .header .btn_project_rate ul a {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .container_top .part1_banner {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .container_top .part1_banner .content_title {
  width: 50%;
  height: 219px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.wrap .container_top .part1_banner .content_title h3 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #56C4C5;
  opacity: 1;
}
.wrap .container_top .part1_banner .content_title h1 {
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  line-height: 1.5;
}
.wrap .container_top .part1_banner .content_title p {
  text-align: left;
  font-size: 20px;
  color: #221E1F;
}
.wrap .container_top .part1_banner img {
  min-width: 532px;
  height: 532px;
}
.wrap .second-container {
  margin: 0 auto;
  max-width: 969px;
  height: 315px;
}
.wrap .second-container .second-title {
  width: 100%;
  height: 46px;
  display: block;
  display: flex;
  justify-content: center;
}
.wrap .second-container .second-title h2 {
  font-size: 32px;
  color: #221E1F;
}
.wrap .second-container .second-three-media {
  margin-top: 48px;
  display: flex;
  display: block;
  justify-content: space-between;
}
.wrap .second-container .second-three-media ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 221px;
}
.wrap .second-container .second-three-media ul .media1 {
  max-width: 244px;
}
.wrap .second-container .second-three-media ul .media2 {
  max-width: 240px;
}
.wrap .second-container .second-three-media ul .media3 {
  max-width: 222px;
}
.wrap .second-container .second-three-media ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #221E1F;
  text-align: center;
}
.wrap .second-container .second-three-media ul li h3 {
  height: 35px;
  font-size: 24px;
}
.wrap .second-container .second-three-media ul li p {
  font-size: 16px;
  height: 48px;
  line-height: 1.5;
  text-align: center;
  color: #747474;
}
.wrap .second-container .second-three-media img {
  min-width: 90px;
  height: 90px;
}/*# sourceMappingURL=css.css.map */