@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  outline: auto;
  font-family: "Noto Sans TC";
}

.wrap {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg") top right no-repeat;
  max-width: 1366px;
  margin: 0 auto;
}
.wrap .container_top {
  margin: 0 auto;
  max-width: 1085px;
}
.wrap .container_top .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.wrap .container_top .header .logo img {
  max-width: 218px;
}
.wrap .container_top .header .btn_project_rate {
  display: flex;
  display: block;
  align-items: center;
}
.wrap .container_top .header .btn_project_rate ul {
  max-width: 128px;
  height: 40px;
  background: #FF5D50;
  border-radius: 22px;
  display: flex;
  align-items: center;
}
.wrap .container_top .header .btn_project_rate ul li {
  margin: 8px 32px;
}
.wrap .container_top .header .btn_project_rate ul a {
  height: 100%;
  font-size: 16px;
  color: #ffffff;
}
.wrap .container_top .part1_banner {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .container_top .part1_banner .content_title {
  width: 50%;
  height: 219px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.wrap .container_top .part1_banner .content_title h3 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #56C4C5;
  opacity: 1;
}
.wrap .container_top .part1_banner .content_title h1 {
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  line-height: 1.5;
}
.wrap .container_top .part1_banner .content_title p {
  text-align: left;
  font-size: 20px;
  color: #221E1F;
}
.wrap .container_top .part1_banner img {
  min-width: 532px;
  height: 532px;
}/*# sourceMappingURL=css.css.map */