//reset css
@import "reset";
//box-sizing
@import "box";
//html,body
@import "base";
*{
    outline:auto;
    font-family: "Noto Sans TC";
}
// .body{
//     position: relative;
// }

.wrap{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg")top right no-repeat;
    max-width: 1366px;
    margin: 0 auto;
    .container_top{
        margin: 0 auto;
        max-width: 1085px;
        .header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
            .logo{
                img{
                    max-width: 218px;
                }
            }
            .btn_project_rate{
                display: flex;
                display: block;
                align-items: center;
                ul{ 
                    max-width: 128px;
                    height: 40px;
                    background:#FF5D50;
                    border-radius: 22px;
                    display: flex;
                    align-items: center;
                    li{
                        margin: 8px 32px;
                    }
                    a{
                        height: 100%;
                        font-size: 16px;
                        color:#ffffff;
                    }
                }
            }
        }
        .part1_banner{
            margin-top: 30px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content_title{
                width: 50%;
                height: 219px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                h3{
                    text-align: left;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    color: #56C4C5;
                    opacity: 1;
                }
                h1{
                    text-align: left;
                    font-size: 48px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    color: #221E1F;
                    opacity: 1;
                    line-height: 1.5;
                }
                p{
                    text-align: left;
                    font-size: 20px;
                    color: #221E1F;
                }
            }
            img{
                min-width: 532px;
                height: 532px;
            }
        }
    }    
}

