//reset css
@import "reset";
//box-sizing
@import "box";
//html,body
@import "base";

*,*:after,*:before{
    // outline:auto;
    font-family: "Noto Sans TC";
}

@import "wrap"; //setting background 來這邊

@import "top-btn";

@import "top-part";

@import "second-part";

@import "third-part";

@import "fourth-part";

@import "fifth-part";

@import "footer1";

@import "footer2";

