//reset css
@import "reset";
//box-sizing
@import "box";
//html,body
@import "base";


*{
    outline:auto;
    font-family: "Noto Sans TC";
}
// .body{
//     position: relative;
// }

.wrap{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg"),
    url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
    background-repeat: no-repeat, no-repeat;
    background-size:auto, auto;
    background-position: top right, left -222px top 589px;
    max-width: 1440px;
    @import "top-part";
    @import "second-part";
}

