//reset css
@import "reset";
//box-sizing
@import "box";
//html,body
@import "base";

.wrap{
    max-width: 1366px;
    display: flex;
    justify-content: center;
    .header{
        max-width: 1085px;
        display: flex;
        justify-content: space-between;
        .logo{
            img{
                max-width: 218px;
            }
        .btn_project_rate{
            display: flex;
            display: block;
            align-items: center;
            .btn{
                max-width: 128px;
                height: 40px;
                background:#FF5D50;
                border-radius: 20%;
            }
            a{
                font-size: 16px;
            }
        }
        }
    }
}

