@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC&display=swap');

html, body{
    height: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    vertical-align: sub;
}
a{
    text-decoration: none;
    color:black;
}