@media (max-width: 765px){
    .wrap{
        width: 100%;
    }
    .header{
        flex-wrap: wrap;
    }
    .two-card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 375px){
    .wrap{
        width: 100%;
    }
}