.wrap{
    margin: 0 auto;
    max-width: 1920px;
    background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/banner.svg'),
    url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: top 0px left 481px, top 876px right 1272px;
}